* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header img {
  width: 100vw;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
.intro-content {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.intro-text {
  width: 30%;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.intro-appear {
  opacity: 1;
  transform: translateY(0px);
}
